.container {
    margin-top: 10px;
}

/* Summary */

h1.name {
    font-size: 56px;
    margin-bottom: 2px;
    margin-top: 40px;
}

.level-line {
    margin-bottom: 25px;
}

.vertical-slots {
    list-style-type: none;
}

.vertical-slots li {
    background-image: url("../img/empty-slot.png");
    background-repeat: no-repeat;
    height: 49px;
}

.vertical-slots.left li {
    background-position: left;
    padding: 0 0 0 53px;
    margin: 0 0 0 5px;
}

.vertical-slots.right li {
    background-position: right;
    padding: 0 53px 0 0;
    margin: 0 5px 0 0;
    text-align: right;
}

.vertical-slots .name {
    padding: 3px;
}
